*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: darkcyan;
    height: 65px;
    width: 100vw;
    color: white;
    font-family: 'Balsamiq Sans', cursive;
}

footer{
    background-color: darkcyan;
}

.header-button{
    border-radius: 7px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    background-color:rgb(154, 213, 250);
    color: rgb(7, 59, 59);
    padding: 2px 7px;
}

.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px; 
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
  }

  .showMenu {
    transform: translateY(0);
  }